#jazzy-sidebar {

    background-color: #0E2E76;
  }

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
  background-color: #ffffff;
  color: #0E2E76;
}